body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: Arial, sans-serif;
}

.configurator-container {
    flex: 1; /* Takes up remaining space */
    background: #f0f0f0; /* Optional background color */
}

.configurator-settings {
    height: 100px; /* Fixed height */
    background-color: #ddd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}


/* Top Bar */
.top-bar {
    background-color: #00ff00;
    text-align: center;
    padding: 10px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
h2 {
   margin: 0;
}
.logo img {
 width: 100%
}
.logo {
    width: 10%;
}




.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn button {
    background: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn button:hover {
    background: #00ff00;
    color: black;
}

.icon {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: #00ff00;
    color: black;
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
