body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* Prevent scrolling */
    font-family: Helvetica, sans-serif;
}

/* Top Bar */
.top-bar {
    background-color: #00ff00;
    text-align: center;
    padding: 10px 0;
    color: black;
    font-size: 0.6em;
    font-weight: 400;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

h2 {
    margin: 0;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.logo img {
    width: 100%;
}

.logo {
    width: 10%;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn button {
    background: #000000;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    min-width: 125px;
}

.btn {
    width: 100%;
}

.btn button:hover {
    background: #00ff00;
    color: black;
}

.icon {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: #00ff00;
    color: black;
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.configurator-container {
    height: 100%;
}

.configurator-settings {
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.configurator-option {
    display: flex;
    gap: 10px;
    margin: 16px 0px;
}

.configurator-option button {
    background: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.configurator-option button:hover {
    background: #00ff00;
    color: black;
}

.color-palette {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.color-item {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.2s ease, border 0.2s ease;
}

.color-item:hover {
    transform: scale(1.2);
}

.color-item.selected {
    border-color: black;
}